<div class="wrapper">
  <h2 class="header">Welcome!</h2>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field class="form-field">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="email.invalid">Invalid email format</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="password.invalid">
        Password must be between 6 and 24 chars and have at least one number
      </mat-error>
    </mat-form-field>

    <div class="btn-block">
      <button type="submit" mat-raised-button class="button">LOGIN</button>
      <button mat-button class="button">
        <a routerLink="/register">REGISTER</a>
      </button>
    </div>
  </form>
</div>

