@import "../abstracts/variables";

.btn-block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

    .button:first-child {
      background-color: $primary-color;
      color: $white-color;
    }

    .button:last-child {
      margin-top: 10px;
      background-color: $white-color;
      color: $primary-color;
    }

    .button .link {
      color: $primary-color;
      text-decoration: none;
    }
}
