<ng-template #elseBlock>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>
<ng-container *ngIf="user$ | async; else elseBlock">
  <div class="wrapper">
    <h2 class="header">{{title}}</h2>
    <form class="form" [formGroup]="form">
      <mat-form-field class="form-field test">
        <div>
          <mat-label>First Name</mat-label>
        </div>
        <div>
          <input matInput formControlName="firstName">
        </div>
      </mat-form-field>

      <mat-form-field class="form-field">
        <div>
          <mat-label>Last Name</mat-label>
        </div>
        <div>
          <input matInput formControlName="lastName">
        </div>
      </mat-form-field>

      <mat-form-field class="form-field">
        <div>
          <mat-label>Age</mat-label>
        </div>
        <div>
          <input matInput formControlName="age">
        </div>
      </mat-form-field>

      <mat-form-field class="form-field">
        <div>
          <mat-label>Country</mat-label>
        </div>
        <div>
          <input matInput formControlName="country">
        </div>
      </mat-form-field>

      <div class="btn-block">
        <button mat-raised-button class="button">
          <a class="link" routerLink="/profile/edit">EDIT</a>
        </button>
        <button mat-button class="button" (click)="logOut()">LOGOUT</button>
      </div>
    </form>
  </div>
</ng-container>
